.card {
  background-color: #d3d3d3 !important;
  width: 50%;
  height: 150px;
}

.control-panel-label {
  display: block;
}

.control-panel-button {
  float: right;
  margin-right: 5%;
  margin-top: 10%;
}

.control-panel-container {
  text-align: center;
  margin-top: 3%;
}

.lineup-display-container {
  padding-top: 20px;
}

.btn-lineup {
  padding-top: 5px;
}

.card-pos {
  display: inline-block !important;
}
